@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
}
head {
  margin: 10px;
}
h1 {
  align-self: center;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  background-color: rgb(171, 171, 240);
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card {
  border-radius: 35px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.search-bar-container {
  align-self: center;
  width: 100%;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card__image {
  border-radius: 35px;
}
.title {
  padding: 10px 0;
}

nav {
  margin-top: 10px;
  justify-content: center;
  background-color: rgba(161, 87, 230, 0.524);
}
span {
  font-weight: bold;
}
button {
  font-weight: bold;
  border-radius: 25px;
}
